* {
    font-family: 'Montserrat', sans-serif;
}


.navbar {
    height: 125px;
    background-color: #212529;
    position: fixed;
    top: 0;
    padding-left: 50px;
    padding-right: 100px;

}


.navGroup {

    position: fixed;
    top: 40px;
    left: 60em;
}

.movieBox {
    margin-top: 12em;
    display: grid;
    background: rgba(40, 42, 44, 0.9);
    height: max-content;
    border-radius: 1%;
}

.cardRow{
    padding: 75px;
    width: fit-content;
}

.card{
    margin: 5px;
}


.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}



body {
    background-image: url("assets/movies.jpg");
}

@media only screen and (max-width: 1200px) {


    .navbar {
        padding-right: 50px;
        padding-left: 50px;
        font-size: 3em;
    }

}
