<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link href="../CSS/stylesHome.css" rel="stylesheet">
    <title>Watch Later</title>
</head>

<body>
    <nav class="navbar container-fluid navbar-expand-lg">
        <a class="navbar-brand text-light fs-2" href="index.html">Movie Database</a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse fs-5 bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../Views/browseShows.html">Browse TV Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../Views/browseMovies.html">Browse Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../Views/favorites.html">Favorties List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="../Views/watchLater.html">Watch List</a>
                </li>

            </ul>


            <div style="color: white; padding-right: 30px;">
                Hello, <span id="loggedInUserName"></span>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a href="../Views/login.html" class="dropdown-item" id="signOutBtn" type="button">Sign Out</a>
                </div>
            </div>

            <form class="d-flex" role="search">
                <div class="input-group px-3">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </span>
                    <input class="form-control me-2 bg-dark text-light" type="search" placeholder="Search"
                        aria-label="Search">
                </div>
            </form>
        </div>
    </nav>

    <div class="movieBox">
        <div id="" class="container">
            <div class="row">
                <div class="col-6 divTop">
                    Display all Watch later movies from users
                </div>
                <div class="col-6 divTop">
                    Display all Watch later movies from users
                </div>

            </div>
        </div>
    </div>
    <script src="../JavaScript/getUserInfo.js"></script>
</body>

</html>